[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
django = "*"
python-decouple = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.6"
